[package]
name = "contract-tests"
version = "0.1.0"
edition = "2021"
rust-version = "1.60.0"  # MSRV
license = "Apache-2.0"

[dependencies]
actix = "0.13.0"
actix-web = "4.2.1"
env_logger = "0.10.0"
log = "0.4.14"
launchdarkly-server-sdk = { path = "../launchdarkly-server-sdk/" }
serde = { version = "1.0.132", features = ["derive"] }
serde_json = "1.0.73"
futures = "0.3.12"
eventsource-client = { git = "https://github.com/MaterializeInc/rust-eventsource-client", default_features = false }

[features]
default = ["rustls"]
rustls = ["eventsource-client/rustls"]
hypertls = ["eventsource-client/hypertls"]