version: 2
jobs:
  build:
    docker:
      - image: cimg/rust:1.56.1
    resource_class: medium+
    steps:
      - checkout
      - run:
          name: Check Version
          command: |
            cargo --version
            rustc --version
      - run:
          name: Check Formatting
          command: cargo fmt && git diff --exit-code
      - run:
          name: Install Crate Dependencies
          command: sudo apt-get update && sudo apt install libssl-dev libncurses5-dev libncursesw5-dev
      - run:
          name: Clippy
          command: cargo clippy -- -D warnings
      - run:
          name: Test
          command: cargo test
      - run:
          name: Gather Coverage
          command: ./coverage.sh --html
      - store_artifacts:
          name: Upload Coverage
          path: target/llvm-cov/html
          destination: coverage
      - run:
          name: Generate Docs
          command: cargo doc --no-deps
      - store_artifacts:
          name: Upload Docs
          path: target/doc
          destination: doc

workflows:
  version: 2
  build:
    jobs:
      - build
